{% load static %}

<div class="modal fade" id="modaltest" tabindex="-1" aria-labelledby="discussion-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="discussion-modal">Create a New Discussion</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>          
        </div>
        <div class="modal-body">
            <form>
                <label for="category">Discussion Category:</label>
                <select id="category" name="category ">
                    <option value="" disabled selected hidden>Select a category</option>
                    <option value="technology">Technology</option>
                    <option value="hobbies">Hobbies</option>
                    <option value="hobbies">Career Development</option>
                    <option value="hobbies">Wellness</option>
                    <option value="finance">Finance</option>
                    <option value="education">Education</option>
                </select><br>
                <hr>
                <label for="title">Discussion Title:</label><br>
                <input type="text" id="title" name="title"><br><br>
                <hr>
                <label for="body">Discussion Body:</label><br>
                <textarea id="body" name="body" rows="16" cols="33"></textarea><br>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Start Discussion</button>
        </div>
      </div>
    </div>
    </div>